.teclado{
    background-color: black;
    margin-left: 30px;
    border-radius: 12.5px;
}
.num{
    margin: 30px;
    text-align: center;
}
.botao{
    width: 60px;
    height: 40px;
    margin: 10px;
    background: rgb(26, 22, 22);
    color: white;
    border: 0;
    font-size: 25px;
    cursor: pointer;
    border-radius: 8px;
}
.botao:hover{
    background-color: rgba(0, 0, 0, 0.527);
}
.botao:active{
    background-color: rgba(26, 25, 25, 0.733);
}
.botao.confirma{
    height: 50px;
    width: 90px;
    background: green;
    color: black;
    font-size: 15px;
}
.botao.corrige{
    width: 80px;
    background: rgb(255, 123, 0);
    color: black;
    font-size: 15px;
}
.botao.branco{
    width: 80px;
    background: white;
    color: black;
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}